<%- include('head.ejs'); %>
    <!-- include extra files and title -->
    <title>Delete Question</title>
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


    </head>
    <!-- navbar included -->
    <%- include('nav.ejs'); %>

        <body>
            <div class="table-data">

                <table id="qTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th>Subject</th>
                            <th>Question</th>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                            <th>Correct Answer</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>


                            <td>
                                <%=data.s_name %>
                            </td>
                            <td>
                                <%=data.Question %>
                            </td>
                            <td>
                                <%=data.Option1 %>
                            </td>
                            <td>
                                <%=data.Option2 %>
                            </td>
                            <td>
                                <%=data.Option3 %>
                            </td>
                            <td>
                                <%=data.Option4 %>
                            </td>
                            <td>
                                <%=data.Answer %>
                            </td>

                        </tr>
                    </tbody>


                </table>
            </div>
            <form action="/questionbank/delete" method="post">
                <input type="hidden" name="qid" id="qid">
                <label for="delete">
                    <h2>Do You want to delete this records?</h2>
                </label>
                <input type="submit" value="Delete">
                <a href="/questionbank/edit?qid=<%=data.Q_id%>" class="btn">Edit</a>
            </form>
            </div>
            <%- include('footer.ejs') %>
                <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                <link rel="stylesheet" type="text/css"
                    href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

                <script>
                    document.getElementById('qid').value = '<%=data.Q_id%>';
                    $(document).ready(function () { $('#qTable').DataTable(); });
                </script>
                <script type="text/javascript" charset="utf8"
                    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        </body>

        </html>